<%- include('./header.ejs')  %> 
            </div>
        </header>
        <main class="py-6 bg-surface-secondary">
            <div class="container-fluid">
                <div class="card rounded-bottom-0">
                    <div class="card-header bg-secondary">
                        <h4>Doctor Information</h4>
                    </div>
                    <div class="row g-0 ">
                        <div class="col-md-3 mt-n6">
                            <i class="ps-12 pe-12 mt-n6 bi bi-person-square" style="font-size: calc(8vw + 6vh + 4vmin);"></i>
                        </div>
                        <div class="col-md-9">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="name" class="form-label text-muted">Name</label>
                                        <input
                                        type="text"
                                        class="form-control border-top-0 border-end-0 border-start-0 rounded-0 bg-white"
                                        id="name"
                                        value="<%= doctorDetails.name %>"
                                        disabled
                                        />
                                    </div>
                                    <div class="offset-md-2 col-md-4">
                                        <label for="email" class="form-label text-muted">Email</label>
                                        <input
                                        type="email"
                                        class="form-control border-top-0 border-end-0 border-start-0 rounded-0 bg-white"
                                        id="email"
                                        value="<%= doctorDetails.email %>"
                                        disabled
                                        />
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-4">
                                        <label for="mobNo" class="form-label text-muted"
                                        >Mobile Number</label
                                        >
                                        <input
                                        type="text"
                                        class="form-control border-top-0 border-end-0 border-start-0 rounded-0 bg-white"
                                        id="mobNo"
                                        value="<%= doctorDetails.mobile_no %>"
                                        disabled
                                        />
                                    </div>
                                    <div class="offset-md-2 col-md-4">
                                        <label for="dob" class="form-label text-muted">Date of Birth</label>
                                        <input
                                        type="text"
                                        class="form-control border-top-0 border-end-0 border-start-0 rounded-0 bg-white"
                                        id="dob"
                                        value="<%= doctorDetails.dob %>"
                                        disabled
                                        />
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-4">
                                        <label for="licenceNumber" class="form-label text-muted"
                                        >License Number</label
                                        >
                                        <input
                                        type="text"
                                        class="form-control border-top-0 border-end-0 border-start-0 rounded-0 bg-white"
                                        id="totalVisits"
                                        value="<%= doctorDetails.licenseNumber %>"
                                        disabled
                                        />
                                    </div>
                                    <div class="offset-md-2 col-md-4">
                                        <label for="licenceNumber" class="form-label text-muted"
                                        >Specialisation</label
                                        >
                                        <input
                                        type="text"
                                        class="form-control border-top-0 border-end-0 border-start-0 rounded-0 bg-white"
                                        id="totalVisits"
                                        value="<%= doctorDetails.specialisation %>"
                                        disabled
                                        />
                                    </div>
                                </div>
                                <div class="row mt-4">
                                    <div class="col-md-4">
                                        <label for="totalVisits" class="form-label text-muted"
                                        >No. of Patients seen</label
                                        >
                                        <input
                                        type="text"
                                        class="form-control border-top-0 border-end-0 border-start-0 rounded-0 bg-white"
                                        id="totalVisits"
                                        value="<%= countPatients %>"
                                        disabled
                                        />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-striped table-nowrap">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">Patient Name</th>
                                <th scope="col">Patient Email</th>
                                <th scope="col">Last Visit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (patientRecordsList.length < 1) { %>
                                <tr>
                                    <td colspan="3">No Patients found</td>
                                </tr>
                            <% } else { %>
                                <% for( var i = 0; i < patientRecordsList.length; i++ ) { %>
                                    <tr>
                                        <td
                                            data-label="Patient Name"
                                            class="text-truncate"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="center-bottom"
                                            title="<%= patientRecordsList[i].patientName %>"
                                        >
                                            <%= patientRecordsList[i].patientName %>
                                        </td>
                                        <td
                                            data-label="Patient Email"
                                            class="text-truncate"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="center-bottom"
                                            title="<%= patientRecordsList[i].email %>"
                                        >
                                            <%= patientRecordsList[i].email %>
                                        </td>
                                        <td
                                            data-label="Last Visit"
                                            class="text-truncate"
                                            data-bs-toggle="tooltip"
                                            data-bs-placement="center-bottom"
                                            title="<%= lastVisits[i].visitedOn %>"
                                        >
                                            <%= lastVisits[i].visitedOn %>
                                        </td>
                                    </tr>
                                <% } %> 
                            <% } %> 
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
<%- include('./footer.ejs')  %> 